% Common project erlang options.
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

% Common project dependencies.
{deps, [
    {cowboy, "1.0.4"},
    {hackney, "1.5.7"},
    {thrift, {git, "https://github.com/rbkmoney/thrift_erlang.git", {branch, "master"}}},
    {snowflake, {git, "https://github.com/tel/snowflake.git", {tag, "0.1.2"}}},
    {genlib, {git, "https://github.com/rbkmoney/genlib.git", {branch, "master"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    %%{plt_extra_apps, [thrift, cowboy, cowlib, ranch]},
    {plt_apps, all_deps}
]}.