% Common project erlang options.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    %warn_untyped_record, %%thanks thrift
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function
]}.

% Common project dependencies.
{deps, [
    {cowboy, "2.5.0"},
    {hackney, "1.15.2"},
    {rfc3339, "0.2.2"},
    {gproc  , "0.8.0"},
    {cache  , "2.2.0"},
    {thrift, {git, "https://github.com/rbkmoney/thrift_erlang.git", {branch, "master"}}},
    {snowflake, {git, "https://github.com/rbkmoney/snowflake.git", {branch, "master"}}},
    {genlib, {git, "https://github.com/rbkmoney/genlib.git", {branch, "master"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {test, [
        {plugins, [
            {rebar3_bench, {ref, "4a1a246d"}}
        ]},
        {cover_enabled, true},
        {provider_hooks, [
            {pre, [
                {compile, {thrift, compile}},
                {clean, {thrift, clean}}
            ]}
        ]},
        {thrift_compiler_opts, [
            {in_dir, "test"},
            {in_files, ["test.thrift"]},
            {out_erl_dir, "test"},
            {out_hrl_dir, "test"},
            {gen, "erlang:app_prefix=woody"}
        ]},
        {deps, [
            {proper, "1.2.0"},
            {how_are_you, {git, "https://github.com/rbkmoney/how_are_you.git",     {ref, "2bb4605"}}},
            {damsel        , {git, "git@github.com:rbkmoney/damsel.git",           {ref, "8911ac3"}}},
            {mg_proto      , {git, "git@github.com:rbkmoney/machinegun_proto.git", {ref, "ebae56f"}}}
            ]},
        {dialyzer, [
            {plt_extra_apps, [how_are_you, eunit]}
        ]}
    ]}
]}.

{plugins, [
    {rebar3_thrift_compiler, {git, "https://github.com/rbkmoney/rebar3_thrift_compiler.git", {tag, "0.3.1"}}}
]}.
